$gutter: 12px;

$sans-face: "freight-sans-pro", Helvetica, Arial;
$serif-face: "freight-text-pro", "ff-tisa-web-pro", "Georgia", serif;
$mono-face: "Input Mono Condensed", "Menlo", "Inconsolata", mono;

$a-color: darken(#2ecc71, 10%);
$a-highlight-color: lighten($a-color, 10%);
$a-visited-color: darken($a-highlight-color, 10%);