<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700|Source+Serif+Pro' rel='stylesheet' type='text/css'>
        <link href="/static/components/skeleton/css/skeleton.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/site.css" rel="stylesheet" type="text/css" />
        <title>Balls & Strikes</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Balls &amp; Strikes
                </h1>
                <h2>
                    A Broadsheet of Baseball Tools and Reading
                </h2>
            </header>

            <div class="row">
                <div class="one-third column">
                    <h2>Databases</h2>

                    <p class="text">
                        Databases and applications which aggregate
                        stats and information from all eras
                        of the game.
                    </p>

                    <ul>
                        <li>
                            <p>
                                <a href="http://retrosheet.org/"><strong>Retrosheet</strong></a> &mdash;
                                Download highly detailed, easily parseable play-by-play logs of
                                nearly every game ever played.
                            </p>

                            <div class="text-center">
                                <small><em>See also...</em></small>
                            </div>

                            <ul>
                                <li>
                                    <p>
                                        <a href="http://chadwick.sourceforge.net/doc/"><strong>Chadwick</strong></a> &mdash;
                                        Extend and enhance Retrosheet play-by-play data
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="https://github.com/mattdennewitz/retrosheet-queries"><strong><tt>retrosheet-queries</tt></strong></a> &mdash;
                                        A cookbook of Chadwick-parsed Retrosheet database queries for PostgreSQL
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="https://github.com/mattdennewitz/retrosheet-pitch-sequences"><strong><tt>retrosheet-pitch-sequences</tt></strong></a> &mdash;
                                        A Python app which extracts all ball-strike counts
                                        from a Retrosheet pitch sequence
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://chadwick-bureau.com/the-register/"><strong>Chadwick Registry</strong></a> &mdash;
                            A Rosetta stone which maps players to canonical IDs
                            across many systems: Retrosheet, Fangraphs, Baseball Reference,
                            Baseball Prospectus, NPB, and many more.
                        </li>
                        <li>
                            <a href="http://www.smartfantasybaseball.com/tools/"><strong>Player ID Map</strong></a> &mdash;
                            Similar to the Chadwick Registry, this spreadsheet connects
                            players across many systems. Unlike the Registry,
                            this includes ESPN, CBS, Yahoo, and NFBC IDs.
                        </li>
                        <li>
                            <a href="http://www.seanlahman.com/baseball-archive/statistics/"><strong>Lahman Database</strong></a> &mdash;
                            Sean Lahman's database offers &#8220;complete batting and pitching statistics
                            from 1871 to 2013, plus fielding statistics, standings, team stats,
                            managerial records, post-season data, and more.&#8221;
                        </li>
                        <li>
                            <a href="http://www.baseballheatmaps.com/pitch-fx-download/"><strong>Pitch F/X database</strong></a> &mdash;
                            Updated-daily database of Pitch F/X data from MLB.com
                        </li>
                        <li>
                            <a href="http://www.baseballheatmaps.com/disabled-list-data/"><strong>Disabled List Data</strong></a> &mdash;
                            Disabled list information collected from MLB's records
                        </li>
                    </ul>
                </div>

                <div class="four columns">
                    <h2>Projections</h2>

                    <div>
                        <h3>Data</h3>
                    </div>

                    <div>
                        <h3>Research</h3>
                    </div>
                </div>
                <div class="four columns">
                    <h2>Data</h2>

                    <div>
                        <h3>Park Factors</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
